<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="com.faon.blog.mapper.UserMapper">-->
<mapper namespace="com.faon.springcloud.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.faon.springcloud.entities.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <collection property="roles" column="id" ofType="com.faon.springcloud.entities.Role" javaType="ArrayList"
            select="com.faon.springcloud.dao.RoleDao.findByUserId" />


    </resultMap>
    <sql id="table">
        `user`
    </sql>
    <sql id="selectField">
        id,username,password
    </sql>

    <select id="findUserById" resultMap="BaseResultMap">
        select
        <include refid="selectField"/>
        from
        <include refid="table"/>
        where id = #{id}
    </select>



    <insert id="add" parameterType="com.faon.blog.entity.SystemUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (username,password) values (#{username},#{password})
    </insert>

</mapper>